# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import itertools

# Importing Data
> Artificially created data in excel (based on what was given in class)
> - Pão     - Bread
> - Leite   - Milk
> - Fraldas - Diepers
> - Cerveja - Beer
> - Cola    - Glue
> - Ovos    - Eggs

In [2]:
df = pd.read_table(r'Apriori_Lista_itens.csv', sep = ";")
df.head()

   TID                          Itens
0    1                     Pão, Leite
1    2    Pão, Fraldas, Cerveja, Ovos
2    3  Leite, Fraldas, Cerveja, Cola
3    4   Pão, Leite, Fraldas, Cerveja
4    5      Pão, Leite, Fraldas, Cola

In [3]:
df['Itens'] = df['Itens'].replace('[,]','',regex=True) # Removing the commas

In [4]:
df.Itens.unique()

array(['Pão Leite', 'Pão Fraldas Cerveja Ovos',
       'Leite Fraldas Cerveja Cola', 'Pão Leite Fraldas Cerveja',
       'Pão Leite Fraldas Cola'], dtype=object)

In [5]:
# Removing any extra space that may be in the data
df['Itens'] = df['Itens'].str.strip()
df

   TID                       Itens
0    1                   Pão Leite
1    2    Pão Fraldas Cerveja Ovos
2    3  Leite Fraldas Cerveja Cola
3    4   Pão Leite Fraldas Cerveja
4    5      Pão Leite Fraldas Cola

In [6]:
num_registros = len(df)
num_registros

5

In [7]:
registros = []

for i in range(0, num_registros):
    registros.append([str(df.values[i,j]) for j in range(1,2)])

In [8]:
registros

[['Pão Leite'],
 ['Pão Fraldas Cerveja Ovos'],
 ['Leite Fraldas Cerveja Cola'],
 ['Pão Leite Fraldas Cerveja'],
 ['Pão Leite Fraldas Cola']]

In [9]:
df['Lista'] = registros # Creating an Auxiliary column that contains the values of the records in a LIST form

In [10]:
df

   TID                       Itens                         Lista
0    1                   Pão Leite                   [Pão Leite]
1    2    Pão Fraldas Cerveja Ovos    [Pão Fraldas Cerveja Ovos]
2    3  Leite Fraldas Cerveja Cola  [Leite Fraldas Cerveja Cola]
3    4   Pão Leite Fraldas Cerveja   [Pão Leite Fraldas Cerveja]
4    5      Pão Leite Fraldas Cola      [Pão Leite Fraldas Cola]

## Creating a new DataFrame that contains the existing permutation possibilities between the items

In [11]:
lista_itens = [] # listing Itens
for lista in df['Itens']:
    for item in lista.split():
        lista_itens.append(item)

lista_itens = list(set(lista_itens))
lista_itens

['Ovos', 'Cola', 'Cerveja', 'Pão', 'Leite', 'Fraldas']

In [12]:
# List of possible Item combinations
lista_completa = []
lista_completa_str = []

for L in range(0, len(lista_itens)+1):
    for subset in itertools.combinations(lista_itens, L):
        subset= list(subset)
        item = ' '.join(subset)
        lista_completa.append(subset)
        lista_completa_str.append(item)

In [13]:
lista_completa = lista_completa[1:len(lista_completa)]
lista_completa_str = lista_completa_str[1:len(lista_completa_str)]

In [14]:
df_lista_completa = pd.DataFrame() # New and empty DataFrame to enter the data
df_lista_completa

Empty DataFrame
Columns: []
Index: []

In [15]:
pd.options.display.max_rows = 63
df_lista_completa['Conjuntos'] = lista_completa_str
df_lista_completa['ListaItens'] = lista_completa
df_lista_completa

,Conjuntos,ListaItens
0,Ovos,[Ovos]
1,Cola,[Cola]
2,Cerveja,[Cerveja]
3,Pão,[Pão]
4,Leite,[Leite]
5,Fraldas,[Fraldas]
6,Ovos Cola,"[Ovos, Cola]"
7,Ovos Cerveja,"[Ovos, Cerveja]"
8,Ovos Pão,"[Ovos, Pão]"
9,Ovos Leite,"[Ovos, Leite]"
10,Ovos Fraldas,"[Ovos, Fraldas]"
11,Cola Cerveja,"[Cola, Cerveja]"
12,Cola Pão,"[Cola, Pão]"
13,Cola Leite,"[Cola, Leite]"
14,Cola Fraldas,"[Cola, Fraldas]"
15,Cerveja Pão,"[Cerveja, Pão]"
16,Cerveja Leite,"[Cerveja, Leite]"
17,Cerveja Fraldas,"[Cerveja, Fraldas]"
18,Pão Leite,"[Pão, Leite]"
19,Pão Fraldas,"[Pão, Fraldas]"
20,Leite Fraldas,"[Leite, Fraldas]"
21,Ovos Cola Cerveja,"[Ovos, Cola, Cerveja]"
22,Ovos Cola Pão,"[Ovos, Cola, Pão]"
23,Ovos Cola Leite,"[Ovos, Cola, Leite]"
24,Ovos Cola Fraldas,"[Ovos, Cola, Fraldas]"
25,Ovos Cerveja Pão,"[Ovos, Cerveja, Pão]"
26,Ovos Cerveja Leite,"[Ovos, Cerveja, Leite]"
27,Ovos Cerveja Fraldas,"[Ovos, Cerveja, Fraldas]"
28,Ovos Pão Leite,"[Ovos, Pão, Leite]"
29,Ovos Pão Fraldas,"[Ovos, Pão, Fraldas]"
30,Ovos Leite Fraldas,"[Ovos, Leite, Fraldas]"
31,Cola Cerveja Pão,"[Cola, Cerveja, Pão]"
32,Cola Cerveja Leite,"[Cola, Cerveja, Leite]"
33,Cola Cerveja Fraldas,"[Cola, Cerveja, Fraldas]"
34,Cola Pão Leite,"[Cola, Pão, Leite]"
35,Cola Pão Fraldas,"[Cola, Pão, Fraldas]"
36,Cola Leite Fraldas,"[Cola, Leite, Fraldas]"
37,Cerveja Pão Leite,"[Cerveja, Pão, Leite]"
38,Cerveja Pão Fraldas,"[Cerveja, Pão, Fraldas]"
39,Cerveja Leite Fraldas,"[Cerveja, Leite, Fraldas]"
40,Pão Leite Fraldas,"[Pão, Leite, Fraldas]"
41,Ovos Cola Cerveja Pão,"[Ovos, Cola, Cerveja, Pão]"
42,Ovos Cola Cerveja Leite,"[Ovos, Cola, Cerveja, Leite]"
43,Ovos Cola Cerveja Fraldas,"[Ovos, Cola, Cerveja, Fraldas]"
44,Ovos Cola Pão Leite,"[Ovos, Cola, Pão, Leite]"
45,Ovos Cola Pão Fraldas,"[Ovos, Cola, Pão, Fraldas]"
46,Ovos Cola Leite Fraldas,"[Ovos, Cola, Leite, Fraldas]"
47,Ovos Cerveja Pão Leite,"[Ovos, Cerveja, Pão, Leite]"
48,Ovos Cerveja Pão Fraldas,"[Ovos, Cerveja, Pão, Fraldas]"
49,Ovos Cerveja Leite Fraldas,"[Ovos, Cerveja, Leite, Fraldas]"
50,Ovos Pão Leite Fraldas,"[Ovos, Pão, Leite, Fraldas]"
51,Cola Cerveja Pão Leite,"[Cola, Cerveja, Pão, Leite]"
52,Cola Cerveja Pão Fraldas,"[Cola, Cerveja, Pão, Fraldas]"
53,Cola Cerveja Leite Fraldas,"[Cola, Cerveja, Leite, Fraldas]"
54,Cola Pão Leite Fraldas,"[Cola, Pão, Leite, Fraldas]"
55,Cerveja Pão Leite Fraldas,"[Cerveja, Pão, Leite, Fraldas]"
56,Ovos Cola Cerveja Pão Leite,"[Ovos, Cola, Cerveja, Pão, Leite]"
57,Ovos Cola Cerveja Pão Fraldas,"[Ovos, Cola, Cerveja, Pão, Fraldas]"
58,Ovos Cola Cerveja Leite Fraldas,"[Ovos, Cola, Cerveja, Leite, Fraldas]"
59,Ovos Cola Pão Leite Fraldas,"[Ovos, Cola, Pão, Leite, Fraldas]"
60,Ovos Cerveja Pão Leite Fraldas,"[Ovos, Cerveja, Pão, Leite, Fraldas]"
61,Cola Cerveja Pão Leite Fraldas,"[Cola, Cerveja, Pão, Leite, Fraldas]"
62,Ovos Cola Cerveja Pão Leite Fraldas,"[Ovos, Cola, Cerveja, Pão, Leite, Fraldas]"

## Creating support columns with the possible values of each Item and their combinations

In [16]:
# function to combine possibilities! It can be used in the step I already did
def combina(lista):
    aux = []
    for L in range(0, len(lista)+1):
        for subset in itertools.combinations(lista, L):
            subset= list(subset)
            item = ' '.join(subset)
            aux.append(subset)
            
    return aux

In [17]:
# function to permute the values
def permuta(lista):
    aux = []
    if len(lista) > 1:
        permutations = list(itertools.permutations(lista))
    else:
        permutations = lista
          
    return permutations

In [18]:
y = df_lista_completa['ListaItens'][10] # permutation test
y

['Ovos', 'Fraldas']

In [19]:
x = permuta(y)# permutation test
x

# Result with Tuple! Modify!!

[('Ovos', 'Fraldas'), ('Fraldas', 'Ovos')]

In [20]:
lista_possibilidade = []

for item in df_lista_completa['ListaItens']:
    x = list(permuta(item))
    lista_possibilidade.append(x)

In [21]:
df_lista_completa['ListaPossibilidade'] = lista_possibilidade
#df_lista_completa

In [22]:
# Modifying Tuples in Lists
lista_possibilidade = []
lista_aux = []

for item in df_lista_completa['ListaPossibilidade']:
    if len(item) > 1:
        for i in item:
            x = list(i)
            lista_aux.append(x)
        lista_possibilidade.append(lista_aux)
        lista_aux = []
    else:
        lista_possibilidade.append(item)

In [23]:
lista_possibilidade;

In [24]:
df_lista_completa['ListaPossibilidade'] = lista_possibilidade # DF with the items and their permutations
df_lista_completa;

# Counting the number of appearances of each item and their combinations

In [25]:
contador = 0
contagem = []

for item in df_lista_completa['ListaPossibilidade']:
    try:# Can change to if len(df()) < 1
        for i in item:
            #print(i)
            #print("")
            for j in df['Itens']:
                #print(j)
                #print(i)
                #print("")
                if i in j:
                    #print(j)
                    contador += 1 
        contagem.append(contador)
    except:# ELSE
        for i in item:
            i = ' '.join(i)
            #print(i)
            #print("")
            for j in df['Itens']:
                #print(j)
                #print(i)
                #print("")
                if i in j:
                    #print(j)
                    contador += 1 
        contagem.append(contador)
        
    contador = 0

# Counting

In [26]:
df_lista_completa['Contagem'] = contagem
df_lista_completa;

# Cleaning the DataFrame

In [27]:
df_lista_completa = df_lista_completa[['Conjuntos', 'Contagem']]
df_lista_completa;

# Calculating Support

In [28]:
lista_aux = []
for item in df_lista_completa['Contagem']:
    lista_aux.append(item/len(df['Itens']))

df_lista_completa['Suporte'] = lista_aux
df_lista_completa

C:\Users\lucas\AppData\Local\Temp/ipykernel_50004/3451758730.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista_completa['Suporte'] = lista_aux

                              Conjuntos  Contagem  Suporte
0                                  Ovos         1      0.2
1                                  Cola         2      0.4
2                               Cerveja         3      0.6
3                                   Pão         4      0.8
4                                 Leite         4      0.8
5                               Fraldas         4      0.8
6                             Ovos Cola         0      0.0
7                          Ovos Cerveja         1      0.2
8                              Ovos Pão         0      0.0
9                            Ovos Leite         0      0.0
10                         Ovos Fraldas         0      0.0
11                         Cola Cerveja         1      0.2
12                             Cola Pão         0      0.0
13                           Cola Leite         0      0.0
14                         Cola Fraldas         1      0.2
15                          Cerveja Pão         0      0.0
16                        Cerveja Leite         0      0.0
17                      Cerveja Fraldas         3      0.6
18                            Pão Leite         3      0.6
19                          Pão Fraldas         1      0.2
20                        Leite Fraldas         3      0.6
21                    Ovos Cola Cerveja         0      0.0
22                        Ovos Cola Pão         0      0.0
23                      Ovos Cola Leite         0      0.0
24                    Ovos Cola Fraldas         0      0.0
25                     Ovos Cerveja Pão         0      0.0
26                   Ovos Cerveja Leite         0      0.0
27                 Ovos Cerveja Fraldas         1      0.2
28                       Ovos Pão Leite         0      0.0
29                     Ovos Pão Fraldas         0      0.0
30                   Ovos Leite Fraldas         0      0.0
31                     Cola Cerveja Pão         0      0.0
32                   Cola Cerveja Leite         0      0.0
33                 Cola Cerveja Fraldas         1      0.2
34                       Cola Pão Leite         0      0.0
35                     Cola Pão Fraldas         0      0.0
36                   Cola Leite Fraldas         1      0.2
37                    Cerveja Pão Leite         0      0.0
38                  Cerveja Pão Fraldas         1      0.2
39                Cerveja Leite Fraldas         2      0.4
40                    Pão Leite Fraldas         2      0.4
41                Ovos Cola Cerveja Pão         0      0.0
42              Ovos Cola Cerveja Leite         0      0.0
43            Ovos Cola Cerveja Fraldas         0      0.0
44                  Ovos Cola Pão Leite         0      0.0
45                Ovos Cola Pão Fraldas         0      0.0
46              Ovos Cola Leite Fraldas         0      0.0
47               Ovos Cerveja Pão Leite         0      0.0
48             Ovos Cerveja Pão Fraldas         1      0.2
49           Ovos Cerveja Leite Fraldas         0      0.0
50               Ovos Pão Leite Fraldas         0      0.0
51               Cola Cerveja Pão Leite         0      0.0
52             Cola Cerveja Pão Fraldas         0      0.0
53           Cola Cerveja Leite Fraldas         1      0.2
54               Cola Pão Leite Fraldas         1      0.2
55            Cerveja Pão Leite Fraldas         1      0.2
56          Ovos Cola Cerveja Pão Leite         0      0.0
57        Ovos Cola Cerveja Pão Fraldas         0      0.0
58      Ovos Cola Cerveja Leite Fraldas         0      0.0
59          Ovos Cola Pão Leite Fraldas         0      0.0
60       Ovos Cerveja Pão Leite Fraldas         0      0.0
61       Cola Cerveja Pão Leite Fraldas         0      0.0
62  Ovos Cola Cerveja Pão Leite Fraldas         0      0.0

# Filtering only items and combinations with support greater than 0.5

In [29]:
df_suport_min = df_lista_completa[df_lista_completa.Suporte >= 0.5]
df_suport_min

          Conjuntos  Contagem  Suporte
2           Cerveja         3      0.6
3               Pão         4      0.8
4             Leite         4      0.8
5           Fraldas         4      0.8
17  Cerveja Fraldas         3      0.6
18        Pão Leite         3      0.6
20    Leite Fraldas         3      0.6

# Conclusion
> Milk is bought with Bread  
> Diaper and Milk are purchased together too  
> **Diaper and Beer is another combination that sells a lot**

# Using an algorithm developed by third parties

In [40]:
from mlxtend.frequent_patterns import apriori, association_rules

In [41]:
df = pd.read_table(r'Apriori_Lista_itens.csv', sep = ";")
df.head()

   TID                          Itens
0    1                     Pão, Leite
1    2    Pão, Fraldas, Cerveja, Ovos
2    3  Leite, Fraldas, Cerveja, Cola
3    4   Pão, Leite, Fraldas, Cerveja
4    5      Pão, Leite, Fraldas, Cola

In [42]:
data = list(df["Itens"].apply(lambda x:x.split(",") ))
data

[['Pão', ' Leite'],
 ['Pão', ' Fraldas', ' Cerveja', ' Ovos'],
 ['Leite', ' Fraldas', ' Cerveja', ' Cola'],
 ['Pão', ' Leite', ' Fraldas', ' Cerveja'],
 ['Pão', ' Leite', ' Fraldas', ' Cola']]

In [43]:
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(data).transform(data)
df = pd.DataFrame(a_data,columns=a.columns_)
df = df.replace(False,0)
df

   Cerveja  Cola  Fraldas  Leite  Ovos Leite   Pão
0        0     0        0   True     0     0  True
1     True     0     True      0  True     0  True
2     True  True     True      0     0  True     0
3     True     0     True   True     0     0  True
4        0  True     True   True     0     0  True

In [44]:
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 5 combinations | Sampling itemset size 5

   support                            itemsets
0      0.6                          ( Cerveja)
1      0.4                             ( Cola)
2      0.8                          ( Fraldas)
3      0.6                            ( Leite)
4      0.2                             ( Ovos)
5      0.2                             (Leite)
6      0.8                               (Pão)
7      0.2                   ( Cola,  Cerveja)
8      0.6                ( Fraldas,  Cerveja)
9      0.2                  ( Leite,  Cerveja)
10     0.2                   ( Ovos,  Cerveja)
11     0.2                   (Leite,  Cerveja)
12     0.4                     (Pão,  Cerveja)
13     0.4                   ( Fraldas,  Cola)
14     0.2                     ( Cola,  Leite)
15     0.2                      ( Cola, Leite)
16     0.2                        ( Cola, Pão)
17     0.4                  ( Fraldas,  Leite)
18     0.2                   ( Fraldas,  Ovos)
19     0.2                   ( Fraldas, Leite)
20     0.6                     ( Fraldas, Pão)
21     0.6                       ( Leite, Pão)
22     0.2                        ( Ovos, Pão)
23     0.2         ( Fraldas,  Cola,  Cerveja)
24     0.2            ( Cola, Leite,  Cerveja)
25     0.2        ( Fraldas,  Leite,  Cerveja)
26     0.2         ( Fraldas,  Ovos,  Cerveja)
27     0.2         ( Fraldas, Leite,  Cerveja)
28     0.4           ( Fraldas, Pão,  Cerveja)
29     0.2             (Pão,  Leite,  Cerveja)
30     0.2              (Pão,  Ovos,  Cerveja)
31     0.2           ( Fraldas,  Cola,  Leite)
32     0.2            ( Fraldas,  Cola, Leite)
33     0.2              ( Fraldas,  Cola, Pão)
34     0.2                ( Cola,  Leite, Pão)
35     0.4             ( Fraldas,  Leite, Pão)
36     0.2              ( Fraldas,  Ovos, Pão)
37     0.2  ( Fraldas,  Cola, Leite,  Cerveja)
38     0.2   ( Fraldas,  Leite, Pão,  Cerveja)
39     0.2    ( Fraldas,  Ovos, Pão,  Cerveja)
40     0.2      ( Fraldas,  Cola,  Leite, Pão)

In [45]:
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Fraldas),( Cerveja),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6
1,( Cerveja),( Fraldas),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
2,( Ovos),( Cerveja),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
3,(Leite),( Cerveja),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,( Cerveja),(Pão),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
...,...,...,...,...,...,...,...,...,...
68,"( Fraldas, Cola, Leite)",(Pão),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
69,"( Fraldas, Cola, Pão)",( Leite),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
70,"( Cola, Leite, Pão)",( Fraldas),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
71,"( Cola, Leite)","( Fraldas, Pão)",0.2,0.6,0.2,1.000000,1.666667,0.08,inf
72,"( Cola, Pão)","( Fraldas, Leite)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf

# Conclusion
> It is possible to observe more details using third parties libraries